* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 4rem !important;
  font-weight: 700 !important;
  font-family: 'Allura', cursive;
  letter-spacing: 1px;
  text-align: center;
  gap: 12px;
}

.logo-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.assist {
  color: #1FA7A8; /*turquoise */
}

.bearn {
  color: #F39A1E; /*orange */
}

body {
  font-family: Montserrat, sans-serif;
  color: #1f2937;
  background: #f5f5f5;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  background: white;
  border-bottom: 1px solid #ddd;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

.hero {
  padding: 80px 0;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 30px;
  max-width: 700px;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}

.btn {
  padding: 14px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background: #1FA7A8;
  color: white;
}

.secondary {
  border: 2px solid #F39A1E;
  color: #F39A1E;
  background: white;
}

.services,
.contact {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-card,
.contact-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.contact-box {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 30px;

}

.card ul {
  list-style: none;
  padding-left: 0;
}

header.scrolled {
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {

  .nav {
    flex-direction: column;
    gap: 15px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

}
